.main-content {
    grid-area: main-content;
    background: rgba(24, 24, 24, 1);
    height: auto;
    min-width: 393px;
}

.main-content-box {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto auto auto auto;
    row-gap: 30px;
    min-width: 393px;
}

.menu-content-box {
    height: 100px;
}

.main-navigation {
    padding: 1em;
    box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.25);
    background: rgba(13, 13, 13, 1);
}

.menu-list{
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  /* height: 40px; */
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  text-decoration: none;
}

.videoshort.flexbox {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;
}

.videoshort.preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px;
    height: 195px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

.videoshort.preview.item1 {
    background-image: url("src/assets/images/Rectangle 4-3.png");
}

.videoshort.preview.item2 {
    background-image: url("src/assets/images/Rectangle 4-2.png");
}

.videoshort.preview.item3 {
    background-image: url("src/assets/images/Rectangle 4-1.png");
}

.videoshort.preview.item4 {
    background-image: url("src/assets/images/Rectangle 4.png");
}

.videoshort.title {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 3em;
    text-align: left;
}

.videoshort.date {
    padding-left: 3em;
    padding-right: 1em;
    padding-bottom: 1em;
    text-align: right;
    text-transform: uppercase;
}

.test {
    grid-column: 2;
    grid-row: 2;
    border-radius: 5px;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.45);
    background: rgba(18, 18, 18, 1);
    height: 74px;
}

.test:hover {
    box-shadow: 0 10px 12px -5px rgba(0, 0, 0, 1),
                0 5px 5px -5px rgba(0, 0, 0, 0.4);
}

input {
    background: rgba(18, 18, 18, 1);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding-left: 28px;
    color: rgba(210, 210, 210, 1);
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgba(210, 210, 210, 1);
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}